#Header {
	background-color: white;
	width: 100%;
	height: 80px;
	margin: 0px;
	border-bottom: solid 2px lightgrey;

}

#footer {
	background-color: #666666;
	width: 100%;
	height: 80px;
	border-top: 6px solid #4aaaa5;
	color: #bbbbbb;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	line-height: 90px; 
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	clear: both;

}

.main {
	background-color: white;
	padding: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	color: #777777;
	width: 650px;
	height: 450px;
	border: 1.5px solid #dddddd;
	margin-top: 3%;
	margin-left: 8%;
	margin-bottom: 3.49%;
	position: relative;
	float: left;

}

.aside {
	float: right;
	clear: both;
	width: 300px;
	height: 200px;
	background-color: white;
	border: 1.5px solid lightgrey;
	margin: 3.0%;
	margin-right: 23%;
	position: relative;
}

.toprow {
	position: absolute;
	float: left;
	clear: both;
	background-color: white;
	color: #4aaaa5;
	border-bottom: 4px solid lightgrey;
	width: 620px;
	height: 90px;
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
	line-height: 80px; 
	font-family: Georgia, Times, Times New Roman, serif;
}

.toprow2 {
	float: left;
	width: 270px;
	height: 40px;
	background-color: white;
	border-bottom: 1.5px solid lightgrey;
	position: absolute;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 20px; 
	font-weight: bold;
	font-size: 23px;
	color: #4aaaa5;
	font-family: Georgia, Times, Times New Roman, serif;
}

.name {
	float: left;
	position: absolute;
	height: 80px;
	width: 200px;
	background-color: #4aaaa5;
	color: white;
	font-family: Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 23px;
	margin-left: 160px;
	text-align: center;
	vertical-align: middle;
	line-height: 70px; 

}

#myphoto{
	margin-top: 18%;

}

body {
	background-image: url("../images/background.png");
	max-height: 100%;

}

p {
	font-size: 13px;
	margin-top: 120px;
	line-height: 1.5;
}

.p2 {
	margin-top: 20px;
}

.icon1 {
	margin-top: 100px;
	position: absolute;
	margin-left: 40px;
	clear: both;
}

.icon2 {
	margin-left: 125px;
	margin-top: 100px;
	position: absolute;
	clear: both;
}

.icon3 {
	position: absolute;
	margin-top: 100px;
	margin-left: 210px;
	clear: both;
}

ul li {
	float: right;
	display: inline-block;
}

ul {
	margin-right: 25.5%;
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	color: #777777;

}

/*Header Bar Links*/
.Line1 a {
	padding-right: 12px;
	padding-left: 12px;
	text-decoration: none;

}

.Line2 a {
	padding-right: 12px;
	padding-left: 12px;
	text-decoration: none;
}

.Line3 a {
	padding-right: 12px;
	padding-left: 12px;
	text-decoration: none;
}

.Line1 a:hover {
	background-color: #bbbbbb;
}

.Line2 a:hover {
	background-color: #bbbbbb;
}
.Line3 a:hover {
	background-color: #bbbbbb;
}

.Line1 a:visited {
	color: red;
}

.Line2 a:visited {
	color: red;
}
.Line3 a:visited {
	color: red;
}
